# misc
.DS_Store
*.pem

# yarn stuff
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dependencies
.pnp.*
node_modules

# Build artifacts
/dist/

# Secrets
.env

# ts
.tsbuildinfo

# mikro-orm ts metadata cache
/temp

# datagrip
/.idea
